// Test configuration for DIA_INSILICO_LIBRARY workflow
// Uses test data with reduced parameters for faster execution

params {
  // Input files - using relative path from project root (execution context)
  // Since we execute from project root, these paths should work
  dia_glob = "modules/tests/data/test_raw*.mzML.gz"
  transition_tsv = "modules/tests/data/test.tsv"
  swath_windows = "modules/tests/data/strep_win.txt"
//   irt_traml = "modules/tests/data/strep_iRT_small.TraML"
  irt_traml = null  // Optional, not using for this test
  irt_nonlinear_traml = null  // Optional, not using for this test
  
  // Use SQLite format (not parquet) for this test
  use_parquet = false
  
  // OpenSwathAssayGenerator parameters
  osag {
    min_transitions = 6
    max_transitions = 6
    allowed_fragment_charges = "1,2,3,4"
    allowed_fragment_types = "b,y"
    out_type = "pqp"
    debug = 0
  }
  
  // OpenSwathDecoyGenerator parameters
  osdg {
    method = "shuffle"
  }
  
  // OpenSwathWorkflow parameters
  osw {
    // Extraction window settings - relaxed for test data
    rt_window_sec   = 600
    extra_rt_window_sec = 2000
    mz_win          = 50
    mz_unit         = "ppm"
    ms1_mz_win      = 50
    ms1_mz_unit     = "ppm"

    // diaPASEF disabled for standard DIA test
    pasef           = false
    im_window       = -1
    im_extraction_window_ms1 = -1
    irt_im_extraction_window = -1

    // Calibration - relaxed for test data
    auto_irt        = true
    min_rsq         = 0.1
    linear_irt_bins = 100
    linear_irt_peptides_per_bin = 500
    nonlinear_irt_bins = 1000
    nonlinear_irt_peptides_per_bin = 1000

    // Processing options
    cache_in_mem    = true 
    batch_size      = 1000    
    debug           = 0
  }
  
  // Arycal parameters
  arycal {
    method = "fft-dtw"
    xic_file_type = "sqmass"  // Will be auto-detected
    features_file_type = "osw"  // Will be auto-detected
    target_fdr = 0.01
    max_fdr_quality = 0.05
    max_rt_diff = 60
    fdr_policy = "any-score"
  }
  
  // PyProphet parameters
  pyprophet {
    peakgroup_scoring {
      classifier      = "LDA"
      level           = "ms2"
      threads         = 2
      ss_num_iter     = 3
      ss_initial_fdr  = 0.15
      ss_iteration_fdr = 0.05
      ss_main_score    = 'var_xcorr_shape'
      xeval_num_iter   = 3
    }
    
    alignment_scoring {
      level           = "ms2"
      classifier      = "LDA"
      ss_num_iter     = 3
      ss_initial_fdr  = 0.15
      ss_iteration_fdr = 0.05
      ss_main_score    = 'var_xcorr_shape'
      xeval_num_iter   = 3
    }
  }
  
  pyprophet_export_tsv {
    max_rs_peakgroup_qvalue = 0.05
    max_global_peptide_qvalue = 0.01
    max_global_protein_qvalue = 0.01
  }
}

process {
  // OpenSwathAssayGenerator
  withName: 'OPEN_SWATH_INSILICO_LIBRARY:OPENSWATHASSAYGENERATOR' {
    cpus = 2
    memory = '4.GB'
    time = '30.m'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }
  
  // OpenSwathDecoyGenerator
  withName: 'OPEN_SWATH_INSILICO_LIBRARY:OPENSWATHDECOYGENERATOR' {
    cpus = 2
    memory = '4.GB'
    time = '30.m'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }
  
  // OpenSwathWorkflow
  withName: 'OPEN_SWATH_INSILICO_LIBRARY:OPENSWATHWORKFLOW' {
    ext.args = '-sort_swath_maps -Calibration:RTNormalization:alignmentMethod lowess -Calibration:RTNormalization:outlierMethod none -Calibration:RTNormalization:lowess:span 0.05 -Calibration:RTNormalization:NrRTBins 1 -Calibration:RTNormalization:MinPeptidesPerBin 1 -Calibration:RTNormalization:MinBinsFilled 1 -Calibration:RTNormalization:OverallQualityCutoff 0.5 '
    cpus = 4
    memory = '8.GB'
    time = '1.h'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }
  
  // PyProphet merge
  withName: 'OPEN_SWATH_INSILICO_LIBRARY:PYPROPHET_MERGE' {
    cpus = 2
    memory = '4.GB'
    time = '30.m'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }
  
  // Arycal
  withName: 'OPEN_SWATH_INSILICO_LIBRARY:ARYCAL' {
    cpus = 4
    memory = '8.GB'
    time = '1.h'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }
  
  // PyProphet alignment scoring
  withName: 'OPEN_SWATH_INSILICO_LIBRARY:PYPROPHET_ALIGNMENT_SCORING' {
    cpus = 2
    memory = '4.GB'
    time = '30.m'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }
  
  // PyProphet OSW subworkflow
  withName: 'OPEN_SWATH_INSILICO_LIBRARY:PYPROPHET_OSW_FULL:.*' {
    cpus = 2
    memory = '4.GB'
    time = '1.h'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }
  
  // Calibration report
  withName: 'OPEN_SWATH_INSILICO_LIBRARY:PYPROPHET_CALIBRATION_REPORT' {
    cpus = 2
    memory = '4.GB'
    time = '30.m'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }
}

profiles {
  docker {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g) --env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
    singularity.enabled = false
  }
  
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
  }
}
