// Test configuration for OPENSWATHWORKFLOW module
// Override default parameters for testing with test data

params {
  osw {
    // Extraction window settings - relaxed for test data
    rt_window_sec   = 600
    extra_rt_window_sec = 2000
    mz_win          = 50
    mz_unit         = "ppm"
    ms1_mz_win      = 50
    ms1_mz_unit     = "ppm"

    // diaPASEF disabled for standard DIA test
    pasef           = false
    im_window       = -1
    im_extraction_window_ms1 = -1
    irt_im_extraction_window = -1

    // Calibration - relaxed for test data
    auto_irt        = false        // disable automated iRT sampling
    min_rsq         = 0.8  // Lower threshold for small test data
    linear_irt_bins = 100   // Fewer bins for test
    linear_irt_peptides_per_bin = 50  // Fewer peptides for test
    nonlinear_irt_bins = 1000  // Fewer bins for test
    nonlinear_irt_peptides_per_bin = 010  // Fewer peptides for test

    // Processing options
    cache_in_mem    = true 
    batch_size      = 1000    

    debug           = 0
  }
}

process {
  withName: OPENSWATHWORKFLOW {
    ext.args = '-sort_swath_maps'
    cpus = 4
    memory = '8.GB'
    time = '1.h'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }
}

profiles {
  docker {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g) --env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
    singularity.enabled = false
  }
  
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
  }
}
