// Test configuration for OPENSWATHASSAYGENERATOR and OPENSWATHDECOYGENERATOR modules
// Override default parameters for testing with strep_iRT_small.TraML

params {
  osag {
    out_type = "pqp"
    min_transitions = 3        // Reduced for small test library
    max_transitions = 6
    allowed_fragment_types = "b,y"
    allowed_fragment_charges = "1,2,3,4"
    debug = 0
  }

  osdg {
    out_type = "pqp"
    method = "shuffle"         // shuffle, reverse, pseudo-reverse
    decoy_tag = "DECOY_"
    allowed_fragment_types = "b,y"
    allowed_fragment_charges = "1,2,3,4"
    switch_kr = true           // Switch K and R in decoy sequences
    debug = 0
  }
}

process {
  withName: OPENSWATHASSAYGENERATOR {
    cpus = 2
    memory = '4.GB'
    time = '30.m'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }

  withName: OPENSWATHDECOYGENERATOR {
    cpus = 2
    memory = '4.GB'
    time = '30.m'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }
}

profiles {
  docker {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g) --env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
    singularity.enabled = false
  }
  
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
  }
}
