// Unified test configuration for all PyProphet modules
// Override default parameters for testing with test_data.osw

params {
  pyprophet {
    peakgroup_scoring {
      classifier      = "LDA"
      level           = "ms2"           // Use ms2 for faster testing
      threads         = 2               // Reduce threads for testing
      ss_num_iter     = 3               // Reduce iterations for faster testing
      ss_initial_fdr  = 0.15
      ss_iteration_fdr = 0.05
      ss_main_score    = 'var_xcorr_shape'  // Explicit score for testing
      xeval_num_iter   = 3              // Reduce iterations for faster testing
    }

    transition_scoring {
      classifier      = "XGBoost"
      level           = "transition"
      threads         = 2               // Reduce threads for testing
      ss_num_iter     = 3               // Reduce iterations for faster testing
      ss_initial_fdr  = 0.15
      ss_iteration_fdr = 0.05
      ss_main_score    = 'var_xcorr_shape'  // Explicit score for testing
      xeval_num_iter   = 3              // Reduce iterations for faster testing
      ipf_max_peakgroup_rank  = 1
      ipf_max_peakgroup_pep = 0.7
      ipf_max_transition_isotope_overlap = 0.5
      ipf_min_transition_sn = -1
    }

    // Peptide and protein inference use default parameters
    // No specific overrides needed for testing
  }
}

process {
  withName: PYPROPHET_PEAKGROUP_SCORING {
    ext.args = '--test --pi0_lambda 0.001 0 0'
    cpus = 2
    memory = '4.GB'
    time = '30.m'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }

  withName: PYPROPHET_TRANSITION_SCORING {
    ext.args = '--test --pi0_lambda 0.001 0 0'
    cpus = 2
    memory = '4.GB'
    time = '30.m'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }

  withName: PYPROPHET_INFER_PEPTIDE {
    ext.args = '--pi0_lambda=0.001 0 0'
    cpus = 2
    memory = '4.GB'
    time = '20.m'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }

  withName: PYPROPHET_INFER_PROTEIN {
    ext.args = '--pi0_lambda=0 0 0'
    cpus = 2
    memory = '4.GB'
    time = '20.m'
    containerOptions = '--env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
  }
}

profiles {
  docker {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g) --env HOME=/tmp --env MPLCONFIGDIR=/tmp/matplotlib --env DUCKDB_HOME=/tmp/duckdb'
    singularity.enabled = false
  }
  
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
  }
}
